@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 20px 121px;
}

header img {
    width: 112px;
}

.header_info {
    max-width: 510px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 97px;
}

.header_info_item img {
    width: 22px;
    margin-right: 10px;
}

.header_info_item span {
    font-size: 20px;
    line-height: 115%;
    margin-right: 10px;
}

/* Block-1  Top block*/
.top_block {
    padding: 20px 121px;
    box-sizing: border-box; 
}

.top_block_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top_block_text {
    max-width: 640px;
}

.top_block_text  h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    margin: 0;
}

.top_block_text p {
    max-width: 414px;
    font-size: 20px;
    line-height: 150%;
}

.top_block_img {
    max-width: 304px;
}

.top_block_img img {
    width: 100%;
}

.top_block_quote {
    max-width: 483px;
    background-color: #1E4681;
    border-radius: 5px;
    margin: 67px auto 0 auto;
    padding: 19px 26px;
    box-sizing: border-box;
}

.top_block_quote p {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 130%;
    color: white;
    margin: 0;
}

.top_block_quote .author {
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Block-2 About course */
.about_course {
    padding: 20px 121px;
    box-sizing: border-box;
    margin-top: 100px;
}

.about_course h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.block_main_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.main_text {
    max-width: 662px;
    font-size: 24px;
    line-height: 150%;
}

.main_img {
    max-width: 366px;
}

.main_img img {
    width: 100%;
}

.dop_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.dop_img {
    max-width: 232px;
    margin-right: 45px;
}

.dop_img img{
    width: 100%;
}

.dop_text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dop_text_item {
    max-width: 150px;
    margin: 10px 45px;
}

.dop_text_item h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 10px;
}

.dop_text_item p {
    margin: 0;
    font-size: 18px;
    line-height: 130%;
}

/* Block-3 Lesson format */
.lesson_format {
    margin-top: 100px;
    padding: 20px 121px;
    box-sizing: border-box;    
}

.lesson_format h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 100px;
}

.info_lesson_format {
    max-width: 974px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_info {
    width: 30%;
}

.item_info h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
    margin: 0;
}

.item_info p {
    font-size: 18px;
}

/* Block-4 What learn */
.what_learn {
    margin-top: 200px;
    padding: 20px 121px;
    box-sizing: border-box;    
}

.what_learn h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 57px;
}

.info_what_learn {
    /* max-width: 678px; */
    font-size: 24px;
    line-height: 150%; 
    margin: 0;
    margin-left: 15px;
    padding: 0;
    list-style: none;
}

.info_what_learn li {
    position: relative;
}

.info_what_learn li:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 15px;
    left: -15px;
}

/* Block-5 Program of course */
.program_course {
    margin-top: 160px;
    padding: 20px 121px;
    box-sizing: border-box;
}

.program_course h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin: 0;
    margin-bottom: 95px;
}

.program_course_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -50px;
}

.program_course_info {
    width: calc(33.33333% - 30px);
    margin: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.program_course_info img {
    width: 100%;
}

.program_course_item {
    padding: 10px 15px 23px 15px;
    box-sizing: border-box;
}

.program_course_item h3 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

.program_course_item p {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 130%;
}

/*Block-6 Course passed */
.course_passed {
    margin-top: 120px;
    padding: 45px 121px;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.course_passed h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.feedback {
    max-width: 791px;
    padding: 40px 45px;
    margin-bottom: 70px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.feedback p {
    font-size: 20px;
    line-height: 150%;
}

.block_auther {
    display: flex;
    margin-top: 36px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.auther_ava {
    max-width: 190px;
    margin-right: 30px;
}

.auther_ava img {
    width: 100%;
}

.feedback_auther h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}

.feedback_auther img {
    width: 32px;
}

/* Block-7 Start of course */
.start_course {
    background-color: #9DC9C8;
    padding: 170px 121px;
    box-sizing: border-box;
}

.start_course h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 0;
}

.start_course p {
    font-size: 25px;
    line-height: 101.38%;
    margin: 0;
}

p.cost {
    margin-top: 0px;
    font-size: 80px;
    line-height: 101.38%;
}

.start_course_info {
    margin-top: 70px;
    max-width: 686px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.start_course_item {
    max-width: 294px;
    margin-bottom: 10px;
}

.start_course_item h3 {
    font-size: 25px;
    line-height: 101.38%;
    margin-top: 0;
    margin-bottom: 9px;
}

.start_course_item p {
    font-size: 18px;
    line-height: 101.38%;    
}

/* FOOTER */
footer {
    background-color: black;
    padding: 50px 147px 40px 121px;   
}

.footer_info_contacts {
    display: flex;
    justify-content: space-between;
}

.footer_info_logo {
    width: 115px;
    margin-bottom: 30px;
}

.footer_info_logo img {
    width: 100%;
}

.footer_info_messeger img {
    width: 30px;
    margin-right: 18px;
}

.footer_copyright {
    margin-top: 146px;
    color: white;
    font-size: 18px;
    line-height: 101.38%;
}

.tele, .mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.tele img {
    width: 27px;
    height: 27px;
    margin-right: 22px;
}

.mail img {
    width: 27px;
    height: 18px;
    margin-right: 22px;
}

.contacts p {
    font-size: 25px;
    line-height: 101.38%;
    color: white;
    margin: 0;
}

@media (min-width: 992px) and (max-width: 1279px)  {
    
    /* HEADER */
    header {
        padding: 21px 70px;
    }
    
    header img {
        width: 65px;
    }
    
    .header_info {
        max-width: 295px;
        margin-top: 56px;
    }
    
    .header_info_item img {
        width: 13px;
        margin-right: 5px;
    }
    
    .header_info_item span {
        font-size: 12px;
        margin-right: 5px;
    }

    /* Block-1  Top block*/
    .top_block {
        padding: 5px 71px;
    }

    .top_block_text  h1 {
        font-size: 46px;
    }

    .top_block_text p {
        font-size: 12px;
    }

    .top_block_img {
        max-width: 176px;
        margin-right: 130px;
    }

    .top_block_quote {
        max-width: 280px;
        border-radius: 3px;
        margin-top: 51px;
        padding: 11px 15px;
    }

    .top_block_quote p {
        font-size: 14px;
    }

    .top_block_quote .author {
        font-size: 12px;
    }

    /* Block-2 About course */
    .about_course {
        padding: 10px 71px;
        margin-top: 70px;
    }
    
    .about_course h2 {
        font-size: 32px;
    }
    
    .block_main_info {
        margin: 20px 0;
    }

    .main_text {
        max-width: 800px;
        font-size: 14px;
    }
    
    .main_img {
        max-width: 212px;
    }
    
    .dop_img {
        max-width: 135px;
    }
    
    .dop_text_item {
        max-width: 100px;
        margin: 28px;
    }
    
    .dop_text_item h3 {
        font-size: 15px;
        margin-bottom: 6px;
    }
    
    .dop_text_item p {
        font-size: 11px;
    }

    /* Block-3 Lesson format */
    .lesson_format {
        padding: 0 70px;
        margin-top: 70px;    
    }
    
    .lesson_format h2 {
        font-size: 32px;
        margin-bottom: 53px;
    }
    
    /* .info_lesson_format {
        max-width: 564.11px;
    } */
    
    .item_info h3 {
        font-size: 15px;
    }
    
    .item_info p {
        font-size: 11px;
    }

    /* Block-4 What learn */
    .what_learn {
        padding: 0 70px;
        margin-top: 53px;    
    }
    
    .what_learn h2 {
        font-size: 32px;
        margin-bottom: 33px;
    }
    
    .info_what_learn {
        /* max-width: 393px; */
        font-size: 14px;
        margin-left: 10px;
    }

    .info_what_learn li:before {
        width: 4px;
        height: 4px;
        top: 8px;
        left: -10px;
    }

    /* Block-5 Program of course */
    .program_course {
        padding: 10px 48px;
        margin-top: 50px;
    }
    
    .program_course h2 {
        font-size: 32px;
        margin-bottom: 55px;
    }
    
    .program_course_container {
        margin: 0 -20px;
    }

    .program_course_info {
        width: calc(33.33333% - 20px);
        margin: 10px;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }
    
    .program_course_item {
        padding: 6px 11px 13px 11px;
    }
    
    .program_course_item h3 {
        font-size: 17px;
    }
    
    .program_course_item p {
        margin-top: 18px;
        font-size: 14px;
    }

    /*Block-6 Course passed */
    .course_passed {
        margin-top: 50px;
        padding: 26px 71px;
    }
    
    .course_passed h2 {
        font-size: 32px;
    }
    
    .feedback {
        max-width: 458px;
        padding: 23px 26px;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }
    
    .feedback p {
        font-size: 12px;
    }
    
    .block_auther {
        margin-top: 17px;
    }
    
    .auther_ava img {
        width: 110px;
        height: 98px;
    }
    
    .feedback_auther h3{
        font-size: 17px;
    }
    
    .feedback_auther img {
        width: 18px;
    }

    /* Block-7 Start of course */
    .start_course {
        padding: 104px 71px;
    }
    
    .start_course h2 {
        font-size: 32px;
    }
    
    .start_course p {
        font-size: 14px;
    }
    
    p.cost {
        font-size: 46px;
    }
    
    .start_course_info {
        margin-top: 38px;
        max-width: 398px;
    }
    
    .start_course_item {
        max-width: 170px;
    }
    
    .start_course_item h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    
    .start_course_item p {
        font-size: 10px;
    }

    /* FOOTER */
    footer {
        padding: 29px 100px 29px 71px;
    }
    
    .footer_info_logo {
        width: 67px;
        margin-bottom: 17px;
    }
    
    .footer_info_messeger img {
        width: 19px;
        margin-right: 10.5px;
    }
    
    .footer_copyright {
        margin-top: 85px;
        font-size: 10px;
    }
    
    .tele img {
        width: 15.6px;
        height: 15.6px;
        margin-right: 13px;
    }

    .mail img {
        width: 15.6px;
        height: 10.4px;
        margin-right: 13px;
    }
    
    .contacts p {
        font-size: 14px;
    }
}

@media (max-width: 991px) {

    /* HEADER */
    header {
        padding: 35px;
    }
    
    header img {
        width: 52px;
    }
    
    .header_info {
        max-width: 237px;
        margin-top: 45px;
    }
    
    .header_info_item img {
        width: 10px;
        margin-right: 4px;
    }
    
    .header_info_item span {
        font-size: 10px;
        margin-right: 4px;
    }
    
    /* Block-1  Top block*/
    .top_block {
        padding: 5px 35px;
    }

    .top_block_container {
        display: block;
    }
    
    .top_block_text  h1 {
        font-size: 37px;
        margin: 0;
    }

    .top_block_text p {
        max-width: 212px;
        font-size: 10px;
        margin-bottom: 0;
    }

    .top_block_img {
        margin-left: auto;
    }

    .top_block_img img {
        width: 142px;
        height: 175px;
        display: block;
        margin-left: auto;
    }

    .top_block_quote {
        max-width: 225px;
        border-radius: 2px;
        margin-top: 39px;
        padding: 9px 12px;
    }

    .top_block_quote p {
        font-size: 11px;
        margin-bottom: 7px;
    }

    .top_block_quote .author {
        font-size: 10px;
    }

    /* Block-2 About course */
    .about_course {
        padding: 10px 36px;
        margin-top: 40px;
    }
    
    .about_course h2 {
        font-size: 26px;
    }
    
    .block_main_info {
        display: block;
    }

    .main_text {
        max-width: 100%;
        font-size: 12px;
    }
    
    .main_img {
        max-width: 171px;
        margin: 15px auto;
    }
    
    .dop_info {
        margin-top: 30px;
        max-width: 100%;
        display: block;
    }

    .dop_img {
        display: none;
    }
    
    .dop_text_item {
        max-width: 87px;
        margin: 0 33px 33px 0;
    }
    
    .dop_text_item h3 {
        font-size: 12px;
        margin-bottom: 3px;
    }
    
    .dop_text_item p {
        font-size: 10px;
    }

    /* Block-3 Lesson format */
    .lesson_format {
        padding: 0 35px;
        margin-top: 40px;    
    }
    
    .lesson_format h2 {
        font-size: 26px;
        margin-bottom: 23px;
    }
    
    .info_lesson_format {
        flex-direction: column;
        max-width: 180px;
    }

    .item_info {
        width: 100%;
        margin: 0 0 23px 0;
    }
    
    .item_info h3 {
        font-size: 12px;
    }
    
    .item_info p {
        font-size: 10px;
    }

    /* Block-4 What learn */
    .what_learn {
        padding: 0 35px;
        margin-top: 40px;    
    }
    
    .what_learn h2 {
        font-size: 26px;
        margin-bottom: 26px;
    }
    
    .info_what_learn {
        /* max-width: 307px; */
        font-size: 12px;
        margin-left: 8px;
    }

    .info_what_learn li:before {
        width: 3px;
        height: 3px;
        top: 7px;
        left: -7px;
    }

    /* Block-5 Program of course */
    .program_course {
        padding: 10px 34px;
        margin-top: 40px;
    }
    
    .program_course h2 {
        font-size: 26px;
        margin-bottom: 35px;
    }

    .program_course_container {
        margin: 0;
        flex-direction: column;
    }

    .program_course_info {
        width: 100%;
        max-width: 185px;
        margin: 0 auto 24px auto;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    
    .program_course_item {
        padding: 5px 8px 10px 8px;
    }
    
    .program_course_item h3 {
        font-size: 14px;
    }
    
    .program_course_item p {
        margin-top: 15px;
        font-size: 12px;
    }

    /*Block-6 Course passed */
    .course_passed {
        padding: 16px 36px;
        margin-top: 40px;
    }
    
    .course_passed h2 {
        font-size: 26px;
    }
    
    .feedback {
        max-width: 308px;
        padding: 18px 21px;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    
    .feedback p {
        font-size: 10px;
    }
    
    .block_auther {
        margin-top: 14px;
    }
    
    .auther_ava {
        margin-right: 14px;
    }

    .auther_ava img {
        width: 84px;
        height: 74px;
    }
    
    .feedback_auther h3{
        font-size: 14px;
    }
    
    .feedback_auther img {
        width: 15px;
    }

    /* Block-7 Start of course */
    .start_course {
        padding: 62px 32px;
    }
    
    .start_course h2 {
        font-size: 26px;
        margin-right: 95px;
    }
    
    .start_course p {
        font-size: 12px;
    }
    
    p.cost {
        font-size: 37px;
    }
    
    .start_course_info {
        margin-top: 30px;
        max-width: 320px;
    }
    
    .start_course_item {
        max-width: 138px;
    }
    
    .start_course_item h3 {
        font-size: 12px;
        margin-bottom: 6px;
        font-weight: 400;
    }
    
    .start_course_item p {
        font-size: 10px;
    }

    /* FOOTER */
    footer {
        padding: 23px 57px;
    }
    
    .footer_info_contacts {
        display: block;
    }

    .footer_info_logo {
        margin-bottom: 14px;
    }

    .footer_info_logo img {
        width: 54px;
    }
    
    .footer_info_messeger img {
        width: 15px;
        margin-right: 8px;
    }
    
    .contacts {
        margin-top: 48px;
    }

    .tele, .mail {
        margin-bottom: 12px;
    }

    .tele img {
        width: 12px;
        height: 12px;
        margin-right: 11px;
    }
    
    .mail img {
        width: 12px;
        height: 8px;
        margin-right: 11px;
    }

    .contacts p {
        font-size: 14px;
    }

    .footer_copyright {
        margin-top: 48px;
        font-size: 10px;
    }
}